# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
megaphone
phonebook
BraiiiiiiinnnzzzZ
Moar_brainz!
HI_THIS_IS_BRAIN
Unnecessary_violence
Sed_is_for_losers
Harl_2.0
My_First_Class_in_Orthodox_Canonical_Form
Towards_a_more_useful_fixed-point_number_class
Now_we’re_talking
Aaaaand...OPEN!
Serena,my_love!
Repetitive_work
